extends layout 

block content

    h1 #{food.name}

    p #{food.description}
    hr
    a(href=food.url + '/delete')
        button.btn.btn-danger(type="button") Delete
    a(href=food.url + '/update')
        button.btn(type="button") Update